* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
#root {
    height: 100%;
    width: 100%;
}
.Main {
    background-color: #1a1a1a;
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    &__title {
        font-size: 48px;
        text-align: center;
        font-weight: bold;
        color: white;
    }
}
.DatePicker {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area {
    color: white;
    // max-width: 700px;
    max-width:65vw;
    width: 100%;
    height: 500px;
    min-height: 500px;
    padding: 15px;
    font-size: 18px;
    word-spacing: 10px;
    background-color: rgba(47,49,54,255)
}
.area-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100vw;
}
.btn-copy {
    background-color: green;
    color: black;
}